<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="klevu" translate="label" sortOrder="200">
            <label>Klevu</label>
        </tab>
        <section id="klevu_logger" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Logging</label>
            <tab>klevu</tab>
            <resource>Klevu_Logger::configuration</resource>
        </section>
    </system>
</config>
